<!DOCTYPE html>
<html lang="en">
<head>
  <title>EMOTION RECOGNIZER</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="text-center">
  <h2>SENTIMENT RECOGNIZER</h2>
  <img src="../static/bkgrnd.jpg"/>
</div>

<div class="text-center" style="padding: 50px 10px 50px">
  <a href="{{ url_for('upload') }}" class="btn btn-primary" role="button">Upload Files</a>
  <a href="{{ url_for('stream') }}" class="btn btn-primary" role="button">Webcam</a>
</div>

<footer class="page-footer font-small blue">
  <div class="text-center">@ e s o t e r i i k o s</div>
</footer>

</body>
</html>
